<!Doctype html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Global Coaching Lab</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
		<style type="text/css">
			* {
				font-family: 'Roboto', sans-serif !important;
				font-size: 14px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="pt-3"></div>
			<div class="pt-3"></div>
			<div class="pt-3"></div>
			<button id="export-csv" type="button" class="btn btn-outline-primary btn-large">Export CSV</button>
			<div class="pt-3"></div>
			<div class="pt-3"></div>
			<table class="table table-striped p-3">
				<thead class="">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Name</th>
			      <th scope="col">Email</th>
			      <th scope="col">Occupation</th>
			      <th scope="col">Industry</th>
			      <th scope="col">Notes</th>
			    </tr>
			  </thead>
			  <tbody id="table-rows"></tbody>
			</table>
			<div>
				<ul class="pagination justify-content-end">
			    <li class="page-item" id="previous">
			      <span class="page-link">Previous</span>
			    </li>
			    <li class="page-item active">
			    	<span class="page-link">1</span>
			    </li>
			    <li class="page-item" id="next">
			      <span class="page-link">Next</span>
			    </li>
			  </ul>
			</div>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/script.js"></script>
</html>